name: TS SDK CI
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "sdk/**"
      - "evm/ts/**"
      - "solana/ts/**"
      - "sui/ts/**"
      - "package.json"
      - "package-lock.json"
      - "tsconfig*.json"
      - ".github/workflows/sdk.yml"
  push:
    branches:
      - main
    paths:
      - "sdk/**"
      - "evm/ts/**"
      - "solana/ts/**"
      - "sui/ts/**"
      - "package.json"
      - "package-lock.json"
      - "tsconfig*.json"
      - ".github/workflows/sdk.yml"

# Cancel in-progress runs on new commits to same PR/branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ts-sdk-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.0
          cache: "npm"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
