name: TS SDK CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

# Cancel in-progress runs on new commits to same PR/branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ts-sdk-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.4"
      - run: bun ci
      - run: bun --if-present run build
      - run: bun run test
