name: Tilt CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

jobs:
  # Pre-build Solana and EVM contract images (fast if cached)
  tilt-images:
    uses: ./.github/workflows/tilt-images.yml
    permissions:
      contents: read
      packages: write

  tilt:
    needs: tilt-images
    runs-on: tilt-kube-public
    permissions:
      contents: read
      packages: read

    # Cancel previous builds on the same branch/ref. Full runs are expensive
    # and capacity is limited, so we want to avoid running multiple builds
    # in parallel even if it means skipping CI runs on permanent branches
    # (unfortunately, we can't differentiate between temporary and permanent
    # refs without duplicating the entire logic).
    concurrency:
      group: ${{ github.workflow }}-tilt-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Clear repository
        run: |
          rm -rf $GITHUB_WORKSPACE && mkdir $GITHUB_WORKSPACE
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      # Login to ghcr.io so Tilt can pull cache_from images
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Expand for link to Tilt dashboard (only available during build)
        run: >
          echo "Tilt progress dashboard: https://$DASHBOARD_URL"
      - run: |
          kubectl config set-context ci --namespace=$DEPLOY_NS
          kubectl config use-context ci

      - run: tilt ci -- --evm2 --generic_relayer --solana_watcher --wormchain --guardiand_loglevel=warn --namespace=$DEPLOY_NS
        timeout-minutes: 30

      # Clean up k8s resources
      - run: kubectl delete --namespace=$DEPLOY_NS service,statefulset,configmap,pod,job --all
        if: always()
